<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History of APOD</title>
</head>
<body>
    <h1>Enter a Date to View the APOD</h1>
    
    <form method="post" action="/history">
        Enter a date (YYYY-MM-DD)
            
    </label>
    <input type="text" name="date" id="date"
        pattern="\d{4}-\d{2}-\d{2}"

        <input type="submit" value="Submit"
            style="background-color: grey; color: #fff; 
            border: none; cursor: pointer;"><button type="submit">Submit</button>
    </form>

    {% if error %}
        <p style="color:blueviolet;">{{ error }}</p>
    {% endif %}

    {% if apod %}
        <h2>APOD for {{ date }}</h2>
        <img src="{{ apod['url'] }}" alt="Astronomy Picture of the Day">
        <p><strong>Description:</strong> {{ apod['explanation'] }}</p>
        <p><strong>Copyright:</strong> {{ apod['copyright'] if 'copyright' in apod else 'None' }}</p>
    {% endif %}
    
    <br>
    <a href="/">Back to Home Page</a>
</body>
</html>
